.responsive-img {
    width: 0px;
    height: 0px;
    margin-left: 10px;
}

.footerCard {
    /* padding-bottom: 100px;
    padding-top: 60px;
    margin-top: 100px; */
    background: #0f486f;
}


.buttonCard {
    background-color: #fccf43 !important;
}