.footprint-card {
    color: #1f1e33;
}

.orangeCard {
    background-color: #fccf43;
}

.zip{
    margin: 15px 15px;
    float: left;
}

.middle{
    text-align: center;  
    font-family: "cooper black";
    color: #0f486f;

}

.subButton{
    /* margin: 10px 10px; */
    background-color: #0f486f;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }