.footprint-card {
    color: #1f1e33;
}

.orangeCard {
    padding-bottom: 100px;
    padding-top: 60px;
    margin-top: 100px;
    background-color: #fccf43;
}

.zip{
    margin: 15px 15px;
    float: left;
}

.middle{
    text-align: center;  
}

.subButton{
    margin: 10px 10px;
}