.backColor{
    text-align: center;
    color: #F24E1E;
}

.newsButton {
    background-color: #F24E1E !important; 
    color: white !important;
    float: right;
   
}

.card-title {
    font-weight: bold !important;
    padding: 0px 8px 5px !important;
    float: top;
    font-size: 15px !important;
    
}

.card-content{
    padding: 12px !important;
}


.card-action{
    padding: 8px 24px !important;
}