/* .card-image{
    height: 200px;
    overflow: hidden;
} */

.card-title{
    font-size: 12px !important;
    margin-bottom: 0px;
    padding-bottom: 10px !important;

}

.linkColor{
    color: white;
}

/* .imgHeight {
    height: 200px;
} */